/* Q#: All the elements have margin of 0 from the top, bottom, left, and right */
* {
    margin: 0;
}


body{
    background-image: url("../assets/images/dark-wood1.jpg");
    color: rgb(0, 0, 0 );
}

h2{
    font-weight: bold;
    text-decoration: underline;
    font-family: sans-serif;
    font-size: xx-large;
    margin: 10px;
    text-transform: uppercase;
    color: green;
}
h3{
    font-family: sans-serif;
    font-size: x-large;
    margin: 10px;
    text-transform: uppercase;
    color: rgba(0, 255, 10, 0.5);
}
p{
    font-family: sans-serif;
    font-size: large;
}

.container{
    max-width: 1300px;
    width: 950px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d7d0c1;
}

.content{
    line-height: 1.4em;
    padding: 10px;
}

header, header a, nav, footer{
    background-color: #e9dbca;
    color: #180c07;
}

header ul{
    margin: 0;
    padding: 5px;
}

header li{
    display: inline;
    margin-right: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

a:link{
    color: #3a1c10;
    text-decoration: none;
}

a:visited{
    color: #086586;
}

a:hover{
    color: #086586;
    background-color: #3a1c10;
    border-radius: 10px;
    padding: 5px;
}

a:active{
    color: #6b4615;
}

.img-centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

table{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

td, th{
    color: #5d3627;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

table th, tfoot td{
    text-transform: uppercase;
    background-color: #3a1c10;
    color: #766145;
    text-align: center;
}

dt{
    font-weight: bold;
}

footer{
    font-size: 80%;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 0;
    padding-left: 0;
}

iframe{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

fieldset{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #1a0d07;
    background-color: #8b7251;
}

legend{
    font-style: italic;
    font-size: x-large;
    border-radius: 10px;
    border: 2px solid #110805;
    background-color: #80694b;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

input[type="submit"]{
    padding: 5px;
    font-size: larger;
    border-radius: 5px;
    color: #806a4c;
    background-color: #3a1c10;
}

input[type="submit"]:hover{
    color: #3a1c10;
    background-color: #8c7659;
    cursor: pointer;
}